<div id="header-content">
	<a href="{{basePath}}/"><img id="header-senseeact" src="{{basePath}}/images/header_senseeact.png" /></a>
	<img id="header-by" src="{{basePath}}/images/header_by.png" />
	<a href="https://www.rrd.nl/"><img id="header-rrd" src="{{basePath}}/images/header_rrd.png" /></a>
	<div id="header-menu">
		<a href="{{basePath}}/account"><div class="header-icon user"></div></a>
		<div class="header-icon menu"></div>
	</div>
</div>

<script type="text/javascript">
	loadJS('header');
</script>
